# Proyecto SQL
### Objetivos del estudio
Sacaremos información de bases de datos de libros, editoriales, autores, calificaciones de clientes y reseñas de libros para generar una propuesta de valor para un nuevo startup para los amantes de los libros.

### Exploración de tablas

In [2]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine
db_config = {
 'user': 'practicum_student', # username
 'pwd': 'QnmDH8Sc2TQLvy2G3Vvh7', # password
 'host': 'yp-trainers-practicum.cluster-czs0gxyx2d8w.us-east-1.rds.amazonaws.com',
 'port': 5432, # connection port
 'db': 'data-analyst-final-project-db' # the name of the database
 }
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],db_config['pwd'],db_config['host'],db_config['port'],db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

In [3]:
query = """ 
SELECT *
FROM books
LIMIT 5;
"""

books = pd.io.sql.read_sql(query, con = engine)
print(books)

   book_id  author_id                                              title  \
0        1        546                                       'Salem's Lot
1        2        465                 1 000 Places to See Before You Die
2        3        407  13 Little Blue Envelopes (Little Blue Envelope...
3        4         82  1491: New Revelations of the Americas Before C...
4        5        125                                               1776

   num_pages publication_date  publisher_id
0        594       2005-11-01            93
1        992       2003-05-22           336
2        322       2010-12-21           135
3        541       2006-10-10           309
4        386       2006-07-04           268

In [4]:
query = """ 
SELECT *
FROM authors
LIMIT 5;
"""

books = pd.io.sql.read_sql(query, con = engine)
print(books)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [5]:
query = """ 
SELECT *
FROM publishers
LIMIT 5;
"""

books = pd.io.sql.read_sql(query, con = engine)
print(books)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [6]:
query = """ 
SELECT *
FROM ratings
LIMIT 5;
"""

books = pd.io.sql.read_sql(query, con = engine)
print(books)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [8]:
query = """ 
SELECT *
FROM reviews
LIMIT 5;
"""

books = pd.io.sql.read_sql(query, con = engine)
print(books)

   review_id  book_id       username  \
0          1        1   brandtandrea
1          2        1     ryanfranco
2          3        2       lorichen
3          4        3  johnsonamanda
4          5        3    scotttamara

                                                text
0  Mention society tell send professor analysis. ...
1  Foot glass pretty audience hit themselves. Amo...
2  Listen treat keep worry. Miss husband tax but ...
3  Finally month interesting blue could nature cu...
4  Nation purpose heavy give wait song will. List...

## Consultas, resultados y conclusiones:
1. Encuentra el número de libros publicados después del 1 de enero de 2000.
1. Encuentra el número de reseñas de usuarios y la calificación promedio para cada libro.
1. Identifica la editorial que ha publicado el mayor número de libros con más de 50 páginas (esto te ayudará a excluir folletos y publicaciones similares de tu análisis).
1. Identifica al autor que tiene la más alta calificación promedio del libro: mira solo los libros con al menos 50 calificaciones.
1. Encuentra el número promedio de reseñas de texto entre los usuarios que calificaron más de 50 libros.

In [16]:
# 1. Número de libros publicados despúes del 1 de enero de 2000
query = """
SELECT COUNT(books)
FROM books
WHERE publication_date >= '2000-01-01';
"""

books_published_after_2000 = pd.io.sql.read_sql(query, con = engine)
print(books_published_after_2000)

   count
0    821

In [ ]:
# 2. Número de reseñas de usuarios y la calificación promedio para cada libro.

query = """
SELECT COUNT(ratings) AS 'count',

FROM books
WHERE publication_date >= '2000-01-01';
"""

ratings = pd.io.sql.read_sql(query, con = engine)
print(ratings)

   count
0    821